@font-face {
    font-family: 'Montserrat-Alt';
    src: url(MontserratAlternates-Bold.otf);
}
/*  General Styles  */
*{
    box-sizing: border-box;
}
body {
    background-image: url('images/stone-stack.jpeg');
    background-size: cover;
    height: 100%;
    color: #86c232;
}
.title {
    /*width: 60%;*/
    /*margin-top: 5px;*/
}
.title > img{
    max-height: 80px;
    display: inline-block;
    margin-left: 2%;
    -webkit-filter: drop-shadow(3px 3px 4px #000000);
    filter: drop-shadow(3px 3px 4px #000000);
}
h1 {
    font-family: Montserrat-Alt;
}
.title> h1 {
    font-family: Montserrat-Alt;
    display: inline-block;
    font-size: 5vmin;
    vertical-align: bottom;
    text-shadow: 3px 2px 7px #000000;
}
/* Main Content */
.inputBox{
    height:8vh;
    
}
#submit_button {
    height: 5vh;
    background-color: #ff7342;
    border: none;
    transition: 0.2s;
    font-weight: bold;
    box-shadow: 1px 2px 10px #000000;
    margin-left: 5px;
}
#submit_button:hover {
    background-color: #dd651d;
}
.title-search-container {
    position: relative;
    /*height: 11vh;*/
}
.searchContainer {
    margin: 2vh auto 2vh auto;
    padding: 0;
    /*line-height: 10vh;*/
}



/* ****** START GOOGLE MAP ***** */
.map_div{
    height: 35vh;
    /*margin-bottom: 2vh;*/
    position: relative;
}

#map_display{
    width: 99.7%;
    height: 100%;
    border: 5px #619830b0 ridge;
    box-shadow: 0px 0px 13px 0px #000000;
    /* border-radius: 5px; */
}

.map_div {
    padding-left: 0;
    padding-right: 0;
}
/* ****** END GOOGLE MAP ***** */


/* ****** START CAROUSEL AND NEWS CSS ***** */
.carouselContainer{
    height: 50vh;
    background-color: #619830b5;
    /* border-radius: 1%; */
    /* text-align: center; */
    color: #000;
    box-shadow: 0px 0px 13px 0px #000000;
}
.news{
    height: 50vh;
    background-color: #619830b5;
    /* border-radius: 1%; */
    box-shadow: 0px 0px 13px 0px #000000;
}
.news h1 {
    font-size: 3vmin;
    font-weight: 400;
    color: #fff;
}
.newsTitle {
    margin: 0 auto;
}
.newsAuthor {
    color: #e4e4e4;
}
.newsLink {
    font-size: 2vmin;
    color: #9d9d9d;
    font-weight: 500;
}
.newsLink:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ff652f;
}
.newsModalImage {
    width: 100%;
}

.newsListDisplay {
    background-color: #272727;
    width: 95%;
    height: 40vh;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    /* border-radius: 1%; */
    overflow-y: scroll;
}
.modal-title,
.modal-body p,
.fullArticle {
    color: #272727;
}

.news, .carouselContainer {
    margin-bottom: 2vh;
}

@media (min-width: 1180px) {
    .carouselContainer {
        width: 57%;
        position: relative;
        left: 1%;
    }
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
    filter: none !important;
    outline: 0;
  }

.carousel-control {
    opacity: 0.1;
}
.carousel-control:hover {
    visibility: visible;
}

div.item {
    margin: 20px;
}
/* ****** END CAROUSEL AND NEWS CSS ***** */



/* ****** START OF PIE CHART SLIDE ****** */
rect {
    fill: none;
}
svg:not(:root) {
    margin: 20px;
}
/* ****** END OF PIE CHART SLIDE ****** */



/* ****** START OF WEATHER SLIDE ****** */
#weatherDisplay{
    font-size:3vmin;
    color: white;
    line-height:initial;
    text-align: left;
    margin-top: 20%;
}
#weatherList{
    display: inline-block;
    list-style: none;
}
#weatherList li {
    line-height: 5vh;
}

#weatherIcon{
    height:20%;
    width: 15%;
    float: right;
    margin-right: 10%;
}
/* ****** END OF WEATHER SLIDE ****** */



/* ****** START AIR QUALITY INDEX SLIDE ***** */
#aqi-table {
    margin: 0 auto;
    margin-top: 6%;
    font-size: 3vmin;
}
/* ****** END AIR QUALITY INDEX SLIDE ***** */


/* ******START OF CITY AIR POLLUTION SLIDE****** */
.good {
    background-color: #009966;
}

.moderate {
    background-color: #ffde33;
}

.sensitive {
    background-color: #ff9933;
}

.unhealthy {
    background-color: #cc0033;
}

.very-unhealthy {
    background-color: #660099;
}

.hazard {
    background-color: #7e0023;
}
.airContainer {
    height: 50vmin;
    width: 80%;
    border: 2px solid black;
    padding: 2%;
}
#aqi-number-container {
    border: 2px solid black;
    border-radius: 6px;
    padding-top: 20px;
    text-align: center;
    min-height: 180px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 10px;
}
  
#aqiNum {
    font-size: 100px;
}
  
table, td, th {
    border: 1px solid black;
    padding: 6px;
    text-align: left;
}
th, .neutral {
    background-color: #dfdfdf;
    text-align: center;
    font-size: 2vmin;
}
/* ******END OF CITY AIR POLLUTION SLIDE****** */

/* ***** Bootstrap Overrides****** */
#location-input{
    width: 100%
}
.row{
    margin: auto;
}
.inputDiv{
    padding: 0;
}
.submitButtonDiv{
    padding-left: 5px;
}
