@font-face {
    font-family: 'Montserrat-Alt';
    src: url(MontserratAlternates-Bold.otf);
}
/*  General Styles  */
*{
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    color: #86c232;
}
.title {
    width: 60%;
    margin-top: 5px;
}
.title > img{
    border: 3px solid #ff652f;
    border-radius: 5px;
    width: 20%;
    display: inline-block;
    margin-left: 2%;
    box-shadow: 3px 3px 2px #888888;
}
h1 {
    font-family: Montserrat-Alt;
}
.title> h1 {
    font-family: Montserrat-Alt;
    display: inline-block;
    font-size: 5vmin;
    vertical-align: bottom;
    text-shadow: 2px 1px 1px #666666;
}
/* Main Content */
.inputBox{
    height:8vh;
    
}
#submit_button {
    height: 5vh;
    background-color: #ff652f;
    border: none;
    transition: 0.2s;
    font-weight: bold;
    box-shadow: 3px 3px 2px #888888;
}
#submit_button:hover {
    background-color: #dd651d;
}
.title-search-container {
    position: relative;
    height: 11vh;
    display: inline-block;
}

.title {
    display: inline-block;
    margin: 0;

}

.searchContainer {
    line-height: 10vh;
    display: inline-block;
    margin: 0;
}



/* ****** START GOOGLE MAP ***** */
.map_div{
    height: 35vh;
    /*margin-bottom: 2vh;*/
    position: relative;
}
#map_display{
    width: 100%;
    height: 100%;
    border: 5px #ff652f ridge;
    box-shadow: 3px 2px 3px #888888;
    border-radius: 5px;
}

.map_div {
    padding-left: 0;
    padding-right: 0;
}
/* ****** END GOOGLE MAP ***** */


/* ****** START CAROUSEL AND NEWS CSS ***** */
.carouselContainer{
    height: 50vh;
    background-color: #61982f;
    border-radius: 1%;
    /* text-align: center; */
    color: #000;
    box-shadow: 4px 3px 9px 3px #888888;
}
.news{
    height: 50vh;
    background-color: #61982f;
    border-radius: 1%;
    box-shadow: 4px 3px 9px 3px #888888;
}
.news h1 {
    font-size: 3vmin;
    font-weight: 400;
    color: #fff;
    margin-left: 3%;
}
.newsTitle {
    margin: 0 auto;
}
.newsAuthor {
    color: #e4e4e4;
}
.newsLink {
    font-size: 2vmin;
    color: #9d9d9d;
    font-weight: 500;
}
.newsLink:hover {
    cursor: pointer;
    text-decoration: none;
    color: #ff652f;
}
.newsModalImage {
    width: 100%;
}

.newsListDisplay {
    background-color: #272727;
    width: 95%;
    height: 40vh;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    border-radius: 1%;
    overflow-y: scroll;
}
.modal-title,
.modal-body p,
.fullArticle {
    color: #272727;
}

.news, .carouselContainer {
    margin-bottom: 2vh;
}

@media (min-width: 1180px) {
    .carouselContainer {
        width: 57%;
        position: relative;
        left: 1%;
    }
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
    filter: none !important;
    outline: 0;
  }

.carousel-control {
    opacity: 0.1;
}
.carousel-control:hover {
    visibility: visible;
}

div.item {
    margin: 20px;
}

/* ****** END CAROUSEL AND NEWS CSS ***** */



/* ****** START OF PIE CHART SLIDE ****** */
/* .pieChartPage{
    width: 100%;
}
#pieChart{
    border: 1px solid black;
    width:100%;
} */

rect {
    fill: none;
}
/* ****** END OF PIE CHART SLIDE ****** */



/* ****** START OF WEATHER SLIDE ****** */
#weatherDisplay{
    font-size:3vmin;
    color: white;
    line-height:initial;
    text-align: left;
}
#weatherList{
    list-style: none;
}
#weatherList li {
    line-height: 5vh;
}

#weatherIcon{
    height:20%;
    width: 15%;
}
/* ****** END OF WEATHER SLIDE ****** */



/* ****** START AIR QUALITY INDEX SLIDE ***** */
.aqi-container > img{
    margin-top: 3%;
    width: 90%;
}
/* ****** END AIR QUALITY INDEX SLIDE ***** */


/* ******START OF CITY AIR POLLUTION SLIDE****** */
.good {
    background-color: #009966;
}

.moderate {
    background-color: #ffde33;
}

.sensitive {
    background-color: #ff9933;
}

.unhealthy {
    background-color: #cc0033;
}

.very-unhealthy {
    background-color: #660099;
}

.hazard {
    background-color: #7e0023;
}
.airContainer {
    height: 50vmin;
    width: 80%;
    border: 2px solid black;
    padding: 2%;
}
#aqi-number-container {
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    min-height: 180px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 10px;
}
  
#aqiNum {
    font-size: 100px;
}
  
table, td, th {
    border: 1px solid black;
    padding: 6px;
    background-color: #f3f2ec;
}
/* ******END OF CITY AIR POLLUTION SLIDE****** */


@media (min-width: 1180px) {
    .carouselContainer {
        width: 57%;
        position: relative;
        left: 1%;
    }
}

@media (max-width: 767px){
    .aqi-container > img{
        margin-top: 20%;
    }
}

