/* General Styles */
*{
    box-sizing: border-box;
}
body {
    background-color: #222629;
    color: #86c232;
}
/* Main content */
/*.leftCol{*/
    /*height: 100%;*/
/*}*/
.title{
    margin-top: 2vh;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
}
.rightCol{
    position: relative;
    top: 3vh;
}
.searchBox{
    width: 100%;
    height: 10vh;
    margin-bottom: 2vh;
}
.inputBox{
    height:8vh;
    width: 100%;
}
#location-input {
    margin-bottom: 2vh;
}
#submit_button {
    background-color: #ff652f;
    border: none;
    transition: 0.2s;
}
#submit_button:hover {
    background-color: #dd651d;
}
/* Map Display */
.map_div{
    height: 50vh;
    margin-bottom: 2vh;
    border: 1px solid #000;
    border-radius: 2%;
    position: relative;
}
#map_display{
    width: 100%;
    height: 100%;
}
.btnCol{
    margin-bottom: 1vh;
    position: absolute;
    left: 85%;
    top: 4%;
}
.btnCol button {
    border-radius: 2%;
}
/* Data */
.carouselContainer{
    margin-top:1vh;
    margin-bottom: 1vh;
    height: 30vh;
    display: inline-block;
    background-color: #61982f;
    border-radius: 2%;
    width: 100%;
}

.data{
    float: right;
}

/* News Search */
.news{
    height: 50vh;
    overflow: scroll;
    background-color: #61982f;
    border-radius: 2%;
}
.newsTitle {
    margin: 0 auto;
}
.news h1 {
    font-size: 3vmin;
    font-weight: 400;
    color: #fff;
}
.newsAuthor {
    color: #272727;
}
/*.newsLink {*/

/*}*/
.newsSourceLink {
    font-size: 2vmin;
    color: #222;
    font-weight: 500;
}
.newsSourceLink:hover {
    cursor: pointer;
    text-decoration: none;
}
.newsModalImage {
    width: 100%;
}
